* {
    font-family: 'Roboto', sans-serif;
}

#turd_feelings
{
    color: white;
    border-width: 1px;
    border-color: grey;
    padding: 0px;
    margin:1px;
    width: 28%;
    float: left;
    text-align: left;
    /*background-color: rgba(0, 0, 0, .4);*/
    margin: 5px;
    border-radius: 5px;
    /*box-shadow: 1px 1px 30px #ffffff;*/
}

 #turd_todos
{
    color: white;
    font-size: 18pt;
    border-width: 1px;
    border-color: grey;
    padding: 1px;
    margin:1px;
    width: 33%;
    float: left;
    text-align: left;
    /*background-color: rgba(0, 0, 0, .4);*/
    margin: 5px;
    border-radius: 5px;
    
}

#turd_unclassified
{
    color: white;
    border-width: 1px;
    padding: 0px;
    margin:1px;
    width: 28%;
    float: left;
    text-align: left;
    /*background-color: rgba(0, 0, 0, .4);*/
    border-radius: 5px;
    margin: 5px;
    /*box-shadow: 1px 1px 30px #ffffff;*/

}
h1{
    color: white;
    font-size: 50pt;
    text-align: center;

}
h2{
    color: white;
    font-size: 40pt;
    text-align: center;

}
#toilet
{
    width: 100%;
    font-size: 30;
    padding: 10pt;
    text-align: center;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 5px 5px 30px #888888;
    background: rgba(255, 255, 255, .9);
    color: black;


}

.bucket_header
{
    font-weight: bold;
    text-align: center;
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: 2;

}
#footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 9pt;
    text-align: center;
    background: rgba(255, 255, 255, .4);
    padding: 3px;

}

.positive_Emotion{
    padding: 2px;
    border-radius: 5px;     
    margin: 2px


}
.negative_Emotion{

    padding: 2px;
    border-radius: 5px;
    margin: 2px
}

#turd_contrainer{
    border-bottom: 1px;
    border-top: 1px;
    border-left:1px;
    border-right:1px;
    border-style: inset;
    border-color: grey;
    margin:5px;
    border-radius: 8px;  
    background-color: rgba(0, 0, 0, .4);
    padding: 2px;
   
}