* {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: slategrey;
}

#turd_todos, #turd_feelings
{
    border-width: 1px;
    border-style: dotted;
    border-color: grey;
    padding: 5px;
    margin:1px;
    width: 30%;
    float: left;
    text-align: left;
}

#turd_unclassified
{
    border-width: 1px;
    border-style: dotted;
    border-color: grey;
    padding: 5px;
    margin:1px;
    width: 30%;
    float: left;
    text-align: left;
    font-size: 20;

}h1{
    font-size: 50pt;
    text-align: center;

}
h2{
    font-size: 40pt;
    text-align: center;

}
#toilet
{
    width: 100%;
    font-size: 30;
    border-width: 0px;
    border-style:solid;
    padding: 10pt;
    text-align: center;

}

.bucket_header
{
    font-weight: bold;
    text-align: center;
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: 2;

}
#footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 9pt;
    text-align: center;
}

.positive_Emotion{
    color: cornflowerblue;
    padding: 2px;
    border-radius: 5px;     
    margin: 2px


}
.negative_Emotion{

   -color: saddlebrown;
    padding: 2px;
    border-radius: 5px;
    margin: 2px
}

#userInteraction{
        box-shadow: 10px 10px 30px #888888;
}
